.home-page {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  margin-left: 3rem; 
  margin-top: 2.75rem;
  gap: 10rem;
}

.right-page {
  margin-right: 14rem;
}

.pattern {
  height: 35rem;
  width: 35rem;
}

.h1-home {
  text-align: center;
  margin-left: 10rem;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 2.5rem;
}

.btn-primary {
  background-color: #4dcfff;
  border-color: #4dcfff;
  color: #ffffff;
  font-weight: bold;
  width: 20rem;
  border-radius: 2rem;
  border-width: 5px;
  position: relative;
  z-index: 0;
}

.btn-primary:hover {
  background-color: #ffe359;
  border-color: #ffe359; 
  color: #545454b0;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
  gap: 3rem;
  margin-top: 2rem;
}

.iconbutton-1 {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.icon-1 {
  position: absolute;
  margin-left: 3.5rem;
  z-index: 1;
}

.iconbutton-2 {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.icon-2 {
  position: absolute;
  margin-left: 4.0rem;
  z-index: 1;
}

.span {
  font-size: 25px;
  margin-left: 3rem;
}

/* mobile */
@media screen and (max-width: 960px) {
  .right-page {
    display: none;
  }

  .home-page {
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 80;
    margin-right: 15rem;
  }
  
  .h1-home {
    font-size: 4vw;
    width: 700px;
  }
}