.page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 28rem;
  width: 34rem;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.display-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4rem;
}

.icon-profile {
  display: flex;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.name-info {
  margin-top: 3.5rem;
  color: #50505a;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
}

.tier-wrapper {
  color: #50505a;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.text-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
}

.winrate {
  color: #50505a;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
}