.form-page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 5vh;
  z-index: 0; /* navbar submit button dissapear fix */
}

.form-label {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 3rem;
}

.tier-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  margin: 0rem;
}

.form-wrapper {
  margin-top: 2rem;
}

.league-rank {
  display: flex;
}

.button-spacing {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.icon-1 {
  margin-right: 8.25rem;
  pointer-events: none;
}

.btn-secondary {
  position: absolute;
  margin-right: 4.7rem;
  height: 2.88rem;
  background-color: #dedede;;
  border-color: #dedede;;
  z-index: 0;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn-secondary:hover {
  background-color: #dedede;;
  border-color: #dedede;; 
}

.form-control-lg {
  border-width: 2px;
  border-radius: 1rem;
  border-color: #dedede;
}

/* mobile */
@media screen and (max-width: 960px) {
  .form-control-lg {
    border-width: 2px;
    border-radius: 1rem;
    border-color: #dedede;
  }
}