.form-page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 5vh;
  z-index: 0; /* navbar submit button dissapear fix */
}

.form-label {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

/*
.page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 3rem;
}*/

/*.tier-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  margin: 0rem;
}*/

.form-wrapper {
  margin-top: 3rem;
}

.league-rank {
  display: flex;
}

.button-spacing {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #ffffff;
}

.icon-1 {
  margin-right: 1.85rem;
  pointer-events: none;
}

.btn-secondary {
  position: absolute;
  margin-left: 4.6rem;
  height: 3.14rem;
  background-color: #ffe359;;
  border-color: #64646f;
  border-width: 2px;
  z-index: 0;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn-secondary:hover {
  background-color: #4dcfff;;
  border-color: #4dcfff;; 
  border-color: #64646f;
  border-width: 2px;
}

.form-control-lg {
  border-width: 2px;
  border-radius: 1rem;
  border-color: #64646f;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 16px;
}

/* mobile */
@media screen and (max-width: 960px) {
  .form-control-lg {
    border-width: 1px;
    border-radius: 1rem;
    border-color: #64646f;
  }
}