<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<input placeholder="user" [(ngModel)]="userObject.name" />
<input placeholder="user" [(ngModel)]="userObject.age" />
<input placeholder="user" [(ngModel)]="userObject.id" />

<app-user [user]="userObject" (userEvent)="handleEvent($event)"></app-user>
<router-outlet></router-outlet>
